<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../anguler.link/angular.min.js"></script>
</head>
<body>
    <div ng-app="" ng-init="countries = [{locale:'en-US',name:'United States'},
    {locale:'en-GB',name:'United Kingdom'},{locale:'en-FR',name:'France'}]">
        <p>Enter your name : <input type="text" ng-model="name"></p>
        <p>Hello <span ng-bind="name"></span>!</p>
        <input type="checkbox" value="show/hiden" ng-model="hiden">

<!--        <ol ng-hide="hiden">-->
        <ol ng-show="hiden">
            <li ng-repeat="country in countries">
                {{'Country Name :' +  country.name + ',Locale code:' + country.locale }}
            </li>
        </ol>
    </div>
    <script src="../anguler.link/angular.min.js"></script>
</body>
</html>